
.viewborder{
	border: 1px solid black;

}

.viewbody{
	border: none;
	background-color: #EEFFEE;
}

.toolbar{
	width: 100%;
	height: 32px;
	background-color: #DDDDDD;	
}

#logarea{
	width: 100%;
	background-color: #EEEEFF;
	border: 1px solid black;
}

.voxy_toolbar_disconnect{
	height: 30px;
}

.voxy_login_form{
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 80px;
}

