# *** VoXY Proxy 設定ファイル例

# === ユーザーの設定
#
# 書式: 
#   [user:ユーザ名]
#   password=str:パスワード
#   targets=このユーザがアクセス可能なサーバIDのリスト

# 以下例：
#   ユーザ名: test パスワード: pass このユーザは、server1,vm1,vm2にアクセス可能
[user:test]
password=str:pass
targets=server1,vm1,vm2

[user:test2]
password=str:pass
targets=server1,notepc

# === アクセス対象のVNCサーバの設定
#
# 書式
#   [target:サーバID]
#   host=VNCサーバのIPアドレス
#   port=VNCサーバのポート (通常は5900 + ディスプレイ番号) 
#   pwd=VNCサーバのパスワード
#   cmd_vmstart=対象サーバを起動するためのコマンド
#   cmd_vmstop=対象サーバを終了するためのコマンド
#   cmd_vmstart/cmd_vmstopは省略可

# 以下例：
#   サーバID: server1
#   VNCサーバ情報: 192.168.0.11 VNCディスプレイ0 (port 5900)
#   VNCサーバパスワードなし
[target:server1]
host=192.168.0.11
port=5900
pwd=

[target:vm1]
host=192.168.0.12
port=5901
pwd=
cmd_vmstart=./qemuctl.sh vm1_start
cmd_vmstop=./qemuctl.sh vm1_stop

[target:vm2]
host=192.168.0.13
port=5902
pwd=
cmd_vmstart=./qemuctl.sh vm2_start
cmd_vmstop=./qemuctl.sh vm2_stop

[target:notepc]
host=192.168.0.14
port=5900
pwd=xxxx
